/* common */
/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* clearfix */
.container::after {
    content: "";
    display: table;
    clear: both;
}

body {
    width: 70%;
    margin: auto;
}

/* uncommon */
/* HEADER */
header {
    height: 140px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: pink;
}

/* MAIN */
/* blocco1 */
#blocco1 {
    height: 420px;
    margin-bottom: 20px;
    background-color: burlywood;
}

/* blocco2 */
/* barra blocco2 */
#blocco2 {
    margin-bottom: 10px;
    background-color: blue;
}

#barra {
    height: 75px;
    margin-bottom: 20px;
    background-color: lightskyblue;
}

/* container dei float */
.container {

}

.lato {
    height: 600px;
    width: 22%;
    margin-bottom: 20px;
    background-color: lightskyblue;
    float: left;
}

#centro {
    height: 600px;
    width: 54%;
    margin: 0 1%;
    margin-bottom: 20px;
    background-color: lightskyblue;
    float: left;
}

/* FOOTER */
footer {
    height: 70px;
    margin-bottom: 20px;
    background-color: purple;
}